@import "../base";

header {
  background-color: black;
  color: white;
  padding: 10px;
}
#main-content {
  width: 980px;
  margin: 0 auto;
}
#game-board {
  margin: 50px 0;
  padding: 50px;
  background-color: #444;
  color: white;
  border: 2px solid #eee;
}
#question-wrap {
  padding: 50px 0 100px;
}
#question-wrap h2 {
  text-align: center;
}
.question-header, 
.question {
  font-size: 72px;
}
.question-header {
  padding-right: 50px;
}
#answer-wrap {
  text-align: center;
  padding: 0 0 50px;
}
#answer-wrap label {
  padding-right: 50px;
  font-size: 70px;
}
#answer-wrap input {
  padding: 10px;
  font-size: 42px;
}