#game-board {
  background-color: #ddd;
}
#question {
  text-align: center;
  padding: 50px 10px;
}
#answer {
  label {
    font-size: 24px;
    font-weight: bold;
  }
}
#num-of-players {
  background-color: #ddd;
  h3 {
    padding: 10px;
  }
  ul {
    padding: 10px;
    list-style: none;
  }
  li.template {
    display: none;
  }
}
