<!--
  Derby templates are similar to Handlebars, except that they are first
  parsed as HTML, and there are a few extensions to make them work directly
  with models. A single HTML template defines the HTML output, the event
  handlers that update the model after user interaction, and the event handlers
  that update the DOM when the model changes.

  As in Handlebars, double curly braces output a value literally. Derby
  templates add single curly braces, which output a value and set up
  model <- -> view bindings for that object.

  Elements that end in colon define template names. Pre-defined templates
  are capitalized by convention, but template names are case-insensitive.
  Pre-defined templates are automatically included when the page is rendered.
-->

<Title:>
  {{roomName}} - {_room.visits} visits

<Header:>
  <!-- This is a component defined in the /ui directory -->
  <ui:connectionAlert>

<Body:>
  <header>
    <h1>Math-o-Magic - Mental Math Edition</h1>
  </header>
  <div id="main-content">
    <div id="game-board">
      <div id="question-wrap">
        <h2>
          <span class="question-header">Q.</span>
          <span class="question">4 * 4 = ?</span>
        </h2>
      </div>
      <div id="answer-wrap">
        <form action="/answer" method="post">
          <input type="hidden" name="userid" value="{_player.id}" />
	        <label for="answer">A.</label>
	        <input id="answer" name="answer" type="text" />
	        <input id="answer-submit" type="submit" />
        </form>
      </div>
    </div>
    <h1>{{roomName}}</h1>
	  <h2>Your user id is: {_player.id}</h2>
	  <h2>Number of players: {players.numOfPlayers}</h2>
	  <p><label>Welcome message: <input value="{_room.welcome}"></label></p>
	
	  <!-- Other templates are referenced like HTML elements -->
	  <p>This page has been visted {_room.visits} times. <app:timer></p>
	
	  <p>Let's go <a href="/{{randomUrl}}">somewhere random</a>.</p>
  </div>

<timer:>
  {#if _stopped}
    <a x-bind="click:start">Start timer</a>
  {else}
    You have been here for {_timer} seconds. <a x-bind="click:stop">Stop</a>
  {/}
