extends templates/layout

block css
  link(rel='stylesheet', href='/css/home.css')

block content
  .container
    .row
      #game-board.span8
        .row
          .game-status.span8
            .row
              #timer.span2
                h2 Time: 
                  span.time-remaining 0
              #score.span2.offset3
                h2 Score: 
                  span.player-score 0
        .row
          #question.span8
            h2
        .row
          #answer.span8
            form#answer-submit.span6.offset1(action="/answer", method="post")
              label(for="user-answer")
              .input-append
                input#user-answer.span5(name="user-answer", type="number")
                input.btn.btn-primary.span1(type="submit", value="Go")
      #num-of-players.span4
        .row
          h2.span4 Players: 
            span.players
        .row
          ul#player-list.span4
          
block script
  script(src="/socket.io/socket.io.js")
  script(src="/js/models/trivia-game.js")
  script(src="/js/views/timer-view.js")
  script(src="/js/views/player-score-view.js")
  script(src="/js/views/scoreboard-view.js")
  script(src="/js/views/question-view.js")
  script(src="/js/home.js")
  