extends templates/layout

block css
  link(rel='stylesheet', href='/css/home.css')

block content
  .container
    .row
      #hero.span12
        img(src="/img/mustache.png", height="50px", width="50px")
        h1 Test your mental math abilities
        img(src="/img/mustache.png", height="50px", width="50px") 
    .row
      #game-board.span8
        .row
          .game-status.span8
            .row
              #timer.span4
                .row
                  h2.span1.offset1 Time
                  h2.time-remaining.span1 0
              #score.span4
                .row
                  h2.span1.offset1 Score
                  h2.player-score.span1 0
        .row
          #question.span8
            h2
        .row
          #answer.span8
            form#answer-submit.span6.offset1(action="/answer", method="post")
              label(for="user-answer")
              .input-append
                input#user-answer.span5(name="user-answer", type="number", autocomplete="off")
                input.btn.btn-primary.span1(type="submit", value="Go")
      #num-of-players.span4
        .row
          .players-bar.span4
            .row
              h2.signage.span2 Players
              h2.players.span2
        .row
          ul#player-list.span4
    .row
      #extra-class.span12
          
block script
  script(src="/socket.io/socket.io.js")

  // connect-assets coffeescript compiler global functions
  != js('models/trivia-game');
  != js('views/timer-view');
  != js('views/player-score-view');
  != js('views/scoreboard-view');
  != js('views/question-view');
  != js('home');
  