extends templates/layout

block css
  link(rel='stylesheet', href='/css/home.css')

block content
  .container
    .row
      #game-board.span8
        .row
          #question
            h2 4 * 4 = ?
        .row
          #answer.span6.offset1
            form.well(action="/answer", method="post")
              label(for="user-answer") A.
              .input-append
                input#user-answer.span4(name="user-answer", type="text")
                input.btn.btn-primary(type="submit")
      #num-of-players.span4
        .row
          h3.span4 Number of players: #{numOfPlayers}
          ul.players
            li Player 1
          
block script
  script(src="/socket.io/socket.io.js")
  script
    var socket = io.connect('http://localhost');
    //var socket = io.connect('http://math-o-magic.nodejitsu.com');
    socket.on('connect', function() {
      socket.on('timer', function(msg) {
        console.log(msg);
      })
    })