extends layout

block css
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  h1 Math-o-Magic Math Trivia - Mental Math Edition
  #main-content
    #num-of-players
      h2 Number of players connected: #{numOfPlayers}
    #game-board
      #question
        h2 Q. 4 * 4 = ?
      #answer
        form(action="/answer", method="post")
          label(for="user-answer") 
            h2 A.
          input#user-answer(name="user-answer", type="text")
          input(type="submit")
          
block script
  script(src="/socket.io/socket.io.js")
  script
    var socket = io.connect('http://localhost');
    //socket.on('news', function (data) {
    //  console.log(data);
    //  socket.emit('my other event', { my: 'data' });
    //});
    socket.on('connect', function () {
      //socket.send('hi from the client');
      socket.on('news', function (msg) {
        console.log(msg);
        //socket.emit('from client', 'hello, from client');
      })
      socket.on('message', function (message) {
        console.log(message);
      });
    })