extends templates/layout

block css
  link(rel='stylesheet', href='/css/home.css')

block content
  .container
    .row
      #game-board.span8
        .row
          #timer.span4
            h2 Time Remaining: 
              span.time-remaining
          #score.span4
        .row
          #question.span8
            h2
        .row
          #answer.span6.offset1
            form.well(action="/answer", method="post")
              label(for="user-answer") A.
              .input-append
                input#user-answer.span4(name="user-answer", type="text")
                input.btn.btn-primary(type="submit")
      #num-of-players.span4
        .row
          h3.span4 Number of players: 
            span.players
          ul.players
            li.player.template
          
block script
  script(src="/socket.io/socket.io.js")
  script(src="/js/home.js")