extends templates/layout

block css
  link(rel='stylesheet', href='/css/home.css')

block content
  h1 Math-o-Magic Math Trivia - Mental Math
  #main-content
    #num-of-players
      h2 Number of players connected: #{numOfPlayers}
    #game-board
      #question
        h2 Q. 4 * 4 = ?
      #answer
        form(action="/answer", method="post")
          label(for="user-answer") 
            h2 A.
          input#user-answer(name="user-answer", type="text")
          input(type="submit")
          
block script
  script(src="/socket.io/socket.io.js")
  script
    var socket = io.connect('http://localhost');

    socket.on('connect', function() {
      socket.on('timer', function(msg) {
        console.log(msg);
      })
    })